<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables and Google Fonts %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Load Tailwind CSS %}
    {{ 'application.css' | asset_url | stylesheet_tag }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body class="min-h-screen flex flex-col">
    {% sections 'header-group' %}

    <main class="flex-1">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    {% # Cart Notifications %}
    <div id="cart-notifications"></div>
    {% render 'react-component', component: 'NotificationContainer', props: '{}' %}

    {% # Load React components %}
    <script src="{{ 'application.js' | asset_url }}" defer></script>
  </body>
</html>
